<body ng-controller="MainCtrl as tutorial">
<div class="jumbotron">
  <h1>Homework 5
</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Built with Yeoman
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>


<!--
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Does it work?</h4>
  <p>{{tutorial.author}}</p>
</div>

-->

<div align="center"> 
    <p>Search through the list to find exactly what you want!</p>
    <input type="text" ng-model="something" class="form-group" placeholder="Search">
</div>

<br>

<div class="container" ng-repeat="tutorial in tutorial.tutInfo | filter:something" style="text-align:right">
  <div class="panel panel-default">
    <h3 align="center">{{tutorial.title}}</h3>
    <img src="{{tutorial.image}}" alt="{{tutorial.author}} image" style="width:120px;height:120px;" hspace="30">
    <p style="padding-right: 35px">{{tutorial.author}}</p>
    <a href="{{tutorial.url}}">{{tutorial.url}}</a>
  </div>
</div>

</body>
