<!-- To make the paragraphs indented. Easier to read -->
<style>
	p {
		margin-left: 30px;
	}
</style>

<!--Intro to this section-->
<h1>How this was made</h1>
<p>This is a step by step on how I went about creating the "Home" section of this site. Going from the top down, this is how you are able to do it as well, even if you don't have any angular knowledge.</p>

<br>
<br>

<!-- Step 1 - how to download packages -->
<h3><b>Starting the site</b></h3>
<p>To start the site, you need to get a few things installed on your machine. I have a Mac, so all information given will be using a Mac for the example. But before we get too much into it, we need to download a few things.</p>

<!--How to install NPM-->
<h4>NPM Install</h4>
<p>NPM comes bundled in with node. So <a href="https://nodejs.org/en/">here</a> is a link to download it. Choose the mature and dependable version. At time of writing this, that is version 4.3.0 LTS.</p>
<p>NPM is a package manager. Once this is installed, you can open terminal and type in a few words, and it will automatically download the other packages we need.</p>
<!--How to install Bower-->
<h4>Bower Install</h4>
<p>On the command line, type in:<b> npm install -g bower</b></p>
<!--Hpw to install Grunt-->
<h4>Grunt Install</h4>
<p>On the command line, type in: <b> npm install -g grunt-cli</b></p>
<!--How to install Yeoman-->
<h4>Yeoman Install</h4>
<p>On the command line, type in:<b> npm install -g yo</b></p>
<!--How to get the generators in-->
<h4>Getting the generators</h4>
<p>Generators are [EXPLAIN GENERATORS HERE!!!!!!!]</p>
<p>On the command line, type in:<b> npm imstall --global generator-angular@0.11.1 generator-karma</b></p>
<br>

<!--Step 2 - Scaffolding-->
<h3><b>Scaffolding</b></h3>
<p>Now that we have all that, we are able to use Yeoman to scaffold a website for us. This way, we dont have to do too much of the set up and connection of pages. After its set up we can customize it to our heart's desire, but for now, we will leave it as it is.</p>
<!--Build folder and change directory-->
<h4>Set up</h4>
<p>Before we let Yeoman build it for us, we need to make a folder to put everything in. Create a folder on your desktop and name it whatever you want. Then, on the command line, type in: <b>cd ["Folder Name"]</b>. Now we are in the correct directory, and when we run Yeoman, all the files will be saved there.</p>
<!--Using Yeoman to build the site for you-->
<h4>Creating the site</h4>
<p>Now that we are in the correct directory (the folder you just made), lets let Yeoman build it for us. On the command line, type in <b>yo</b>. It will ask you to select a generator. We are going to be building it in angular, so hit enter. Next, it is going to ask you some questions on how you want it set up, we will <b>NOT</b> be using Sass (with Compass), we <b>WILL</b> be using Grunt, and also using Bootstrap.</p>
<p>After that, it asks which modules you would like to include. Deselect them all (use the arrow keys to navigate, and the space bar to select/deselect), then hit enter. It will take a few minutes, then you will have a website built for you. You hardly had to do anything!</p>
<br>

<!--Step 3 - something-->
<h3><b>Some title</b></h3>
<p>Some writing about the title</p>
<br>

<!--Step 4 - something-->
<h3><b>Some title</b></h3>
<p>Some writing about the title</p>
<br>